<!DOCTYPE HTML>
 <html xmlns:th="http://www.thymeleaf.org">
 <head>
   <th:block th:fragment="head">
       <title>La Mia Pizzeria</title> 
	   
	   <!--Required meta tags-->
	   <meta charset="utf-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1">
	   
	   <!--Bootstrap-->
	   <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
   </th:block>
</head>
<body>
<div>

</div> 

<th:block th:fragment="scripts">
	<script th:src="@{/webjars/bootstrap/5.3.3/css/bootstrap.bundle.min.jss}"></script>
</th:block>
</body>
</html>